<div class="row">
    <div class="rLeftcol"><b>{{oRow.name | trans}} ( {{oRow.lang}} ) {% if oRow.is_require ==1 %}*{% endif %}:</b></div>
    <div class="rRightcol">
		{% include 'FredbAdminBundle:ViewBlock:admin_form_errors.html.twig' with {'aErrors': oRow.getErrorMessages} %}
		<input type="text" name="{{oRow.name_propertie}}[{{oRow.lang}}]" value="{{oRow.value}}" size="{{oRow.length}}" {% if oRow.disable == constant('Fredb\\AdminBundle\\Services\\ToolBox::ACTIVATED') %}disabled{% endif%}>
		
</div>
    <div class="clear"></div>
</div>